<div class="classes">
  <div class="action">
    <p-button label="Add">
      <i class="pi pi-plus" style="font-size: 1rem"></i>
    </p-button>
  </div>
  <div class="card">
    <p-table [value]="classes" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Class Name</th>
          <th>Teacher</th>
          <th>Student</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-class>
        <tr>
          <td>{{ class.class_name }}</td>
          <td>{{ class.teacher_first_name }} {{ class.teacher_last_name }}</td>
          <td>{{ class.student_first_name }} {{ class.student_last_name }}</td>
          <td>
            <p-button>
              <i class="pi pi-pencil" style="font-size: 1rem"></i>
            </p-button>
          </td>
          <td>
            <p-button>
              <i class="pi pi-times-circle" style="font-size: 1rem"></i>
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
